@import '../../assets/stylesheets/common';

.login-component {
  .container {
    width: 270px;
    margin-top: 20vh;
    margin-right: auto;
    margin-left: auto;

    .title {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
    }

    .errors {
      margin-bottom: 20px;
      text-align: center;

      .error {
        display: inline-block;
        padding: 4px 8px;
        background-color: lighten(@danger_fill, 53%);
        margin-bottom: 2px;

        .icon {
          margin-right: 8px;
          margin-left: 2px;
        }
      }
    }

    .username {
      width: 100%;
      margin-bottom: 10px;
    }

    .password {
      width: 100%;
      margin-bottom: 10px;
    }

    .submit {
      width: 100%;
    }
  }
}
