@import '../../assets/stylesheets/common';

.list-query-builder-component {
  .list {
    .button-exclude {
      &:hover {
        color: @excluded;
      }

      .selected {
        color: @excluded;
      }
    }

    .button-include {
      &:hover {
        color: @included;
      }

      .selected {
        color: @included;
      }
    }
  }
}
